/* Add this CSS to your existing Footer.css file */

@media (max-width: 768px) {
  .footer-resopnsive {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px; /* Add padding for better spacing */
  }
  
  .footer-part-two {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* Adjust text sizes for smaller screens */
  .footer-part-two h2 {
    font-size: 1.2rem;
  }

  .footer-part-two ul {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .footer-resopnsive {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  
  .footer-part-one,
  .footer-part-two {
    width: 100%;
    text-align: center;
  }
  
  .footer-part-two {
    gap: 10px;
  }

  /* Further adjust text sizes for even smaller screens */
  .footer-part-two h2 {
    font-size: 1rem;
  }

  .footer-part-two ul {
    font-size: 0.9rem;
  }
}
