@media screen and (max-width:768px) {
    .footer-resopnsive{
        display: block;
        width: 100%;

    }
    .footer-content{
        display: block;
        margin: auto;
        text-align: center;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-content>li{
        margin-left: 0;
    }
}