/* Navbar.css */

/* Navbar Container */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FFBD59;
  }
  
  /* Navbar Left */
  .navbar-left {}
  
  .navbar-logo {
    height: 4rem;
    width: auto;
  }
  
  /* Navbar Right */
  .navbar-right {}
  
  /* Navbar Links */
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  /* Navbar Link */
  .navbar-link {
    color: white;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: black;
  }
  
  /* Navbar Profile */
  .navbar-profile {
    position: relative;
  }
  
  .navbar-profile-btn {
    color: white;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 3rem;
  }
  
  .navbar-profile:hover .navbar-profile-btn {
    color: black;
  }
  
  /* Navbar Profile Menu */
  .navbar-profile-menu {
    position: absolute;
    top: 3rem;
    right: 0;
  }
  
  /* Navbar Logout Button */
  .navbar-logout-btn {
    background-color: #FFBD59;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
  }
  
  .navbar-logout-btn:hover {
    background-color: black;
  }
  
  /* Responsive Styles for Mobile */
  @media screen and (max-width: 768px) {
    .navbar-container {
      padding: 1rem;
    }
  
    .navbar-logo {
      height: 3rem;
    }
  
    .navbar-links {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .navbar-profile-menu {
      top: 2.5rem;
    }
  
    .navbar-logout-btn {
      padding: 0.3rem 0.7rem;
    }
  }
  