@media screen and (max-width: 768px) {
    /* Hero Section */
    .landingpage-hero-content {
      padding: 4rem 0;
    }
    .landingpage-hero-content>.container{
        padding: 1rem;
        margin: 0;
        padding-right: 0;
        display: flex;
        justify-content: center;
    }
  
    .landingpage-title-font {
      font-size: 1.8rem;
      line-height: 1.3;
    }
  .landingpage-hero-image{
    width: 100%;
   
  }
    /* Latest Internships and Jobs Sections */
    .landingpage-latest-internships,
    .landingpage-latest-jobs {
      padding: 1.5rem 0;
    }
  
    .landingpage-heading {
      font-size: 1.3rem;
    }
  
    /* Top Companies Section */
    .landingpage-top-companies {
      padding: 1.5rem 0;
    }
  
    .landingpage-text-2xl {
      font-size: 1.3rem;
    }
  
    /* Statistics Section */
    .landingpage-statistics {
      padding: 1.5rem 0;
    }
    .categories{
        margin-left: 10px;
        gap:2px;
        display: none;
    }



    .carousel {
        max-width: 100%;
        margin: 0 auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        display: flex;
    }
    .heading-in-navbar{
      display: none;

    }
    .inputhomess{

      display: contents;
      width: 100%;
    }

    .Homecardsdivs{
      display: block;
      margin-left: 0px;
      margin-right: 0px;
    }
.cardMain{

  width: 94%;
}
.card-title {

  font-size: 17px;
}
.inpimp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iii{
  width: auto !important;
}

.ViewAll{
  padding-left: 0px;
     padding-right: 0px
}
.Homehead{

  font-size: 18px;
}
.AlignHome{

  margin-left: 10%;
}
.ViewProfileCard{

  display: block;
}
.cardsection{

  gap: 1rem;
}
.mainProfile{

  margin-top: 91px;
}
.CardSizeProfile{

  width: 83%;
  margin-top: 13px;
}
.UploadResume{

  display: block;
}
.poputHomeOne{

  width: min-content;
}

.HomeNavMainBtns{
  margin-right: 0px;
  padding-left: 0%;
  padding-right: 0%;
  font-size: 9px;
}
.Navbtns{
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.blogh{

  display: block;
}
.ResponsiveResume{

  display: block;
}
.Freecard{
  padding: 0% !important;
}
.Freecards{
  padding: 1% ;
}
.preeHeading{

  font-size: 30px;
}
.MainFaqs{

  margin-top: 96px;
}
.SignupOtp{

  width: 100%;
  display: block;
}

  }