.card1 {
    
    border-radius: 10px;
    border: 1px solid #ffbd59;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 40%;
    height: 180px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
    margin: 2rem;
  }
  
  .card1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #ffbd59;
    height:220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .card1:hover::before{
      transition-delay:0.2s ;
  
    transform: scale(40);
  }
  
  .card1:hover{
      color: #ffffff;
  
  }
  
  .card1 p{
      padding: 10px 0;
  }
  