.candidates-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .candidates-card {
    width: 400px;
    max-width: 80%;
  }
  
  .candidates-title {
    text-align: center;
    margin-bottom: 20px;
  }