/* @media only screen and (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    .p-4 {
      padding: 2rem;
    }

    .max-h-96 {
      max-height: none;
    }

    .scrollable-jobs {
      overflow-y: auto;
    }
    .card-component-posted-internship{
        width: 100%;
    }
    .post-job-card-div{
        width: 100%;
    }


  }
  @media (max-width: 768px) {
    .card {
      width: 90% !important;
    }
  } */

.scrollable-jobs {
  max-height: 38em;
}
.card-body {
  background-color: rgb(255 189 89);
}
