@media screen and (max-width: 768px) {
  .all-the-content-in-shortlisted-candidates-sidebar {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .cards-thats-scrolling-in-the-shortlisted-candidates-page {
    margin: 1em;
  }
  .input-field-for-in-shortlisted-candidates-sidebar {
    margin: 1em;
  }
  .short-listed-candidates-text-header-candidate-page {
    padding: 2em 0;
  }
  .View-Shortlisted-candidate-buttons-for-candidate-page {
    width: 16em;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .View-Shortlisted-candidate-buttons-for-candidate-page-links {
    display: flex;
    justify-content: center;
    padding: 1em 0;
  }
  .main-card-for-the-shortlisted-candidate-pagee {
    display: grid;
    gap: 0.5em;
  }
}
.View-Shortlisted-candidate-buttons-for-candidate-page-links {
  padding: 1em 0;
}
.main-card-for-the-shortlisted-candidate-pagee {
  display: grid;
  gap: 0.5em;
}
