@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

.faq1 {
  position: relative;
  top: 4rem;
}

.faq-h1 {
  margin: 50px 0 30px;
  text-align: center;
  font-size: 28px;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: transparent;
  border: 2px solid rgb(255, 189, 89);
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
  padding: 30px;
  position: relative;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-title {
  margin: 0 35px 0 0;
  font-size: larger;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 30px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
}
.faq-toggle .fa-times,
.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq-toggle .fa-chevron-down {
  display: block;
}

.faq.active .faq-toggle {
  background-color: rgb(255, 189, 89);
}

.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination button {
  background-color: transparent;
  border: 1px solid #ffbd59;
  color: #ffbd59;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ffbd59;
  color: black;
}

@media only screen and (max-width: 768px) {
  .faq-container {
    max-width: 90%;
  }

  .faq {
    padding: 20px;
  }

  .faq-toggle {
    right: 20px;
    top: 20px;
  }
}
